<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Facilities</title>
    <link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="demo.js"></script>



    </head>

<body>
    <header class="tm-header">
        <img class="tm-logo" src="logo3.png" alt="Hotel Royal Palace">
        <nav class="tm-nav">
       <div>
            <ul>
                <li class="tm-list"><a href="/">Home</a></li>
                <li class="tm-list"><a href="/index1">Rooms</a></li>
                <li class="tm-list"><a href="/index">Booking</a></li>
            </ul>
            </div>
        </nav>
    </header>


    <section class="tm-main">
           <p>Facilities</p>
    </section>


    <section class="tm-expsection">

        <div class="tm-exp1">

        <p> Luxorious and Spacious Rooms</p>
     <img src="room7.png">

  </div>
    </section>


       <section class="tm-expsection">

        <div class="tm-exp2">


  </div>
    </section>


     <section class="tm-expsection">

        <div class="tm-exp1">

        <p> Swimming Pool</p>
     <img src="swimming.png">

  </div>
    </section>


       <section class="tm-expsection">

        <div class="tm-exp2">

        <p> Indoor  Game Room</p>
     <img src="indoor.png" >

  </div>
    </section>



    <section class="tm-makeres">
    <div class="tm-res">
       <div class="tm-resbutton">
           <a href="index"> <p>Make Reservation</p></a>
        </div>
        </div>
    </section>


    </body>

</html>
