<html>

<head>
    <title>Hotel Webpage</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>
</head>

<body>
    <header>
        <nav>
            <div class="row clearfix">
                <img src="logo3.png" class="logo">
                <ul class="main-nav animated sildeInDown">
                    <li>
                        <a href="/contact">
                            <font size="4"> <b> Contact Us </font> </b> </a>
                    </li><br>
                    <li>
                        <a href="/index">
                            <font size="4"> <b> Images </font> </b> </a>
                    </li><br>
                </ul>
            </div>
        </nav>
        <div class="main-content-header">
            <h1> <b> WELCOME TO <span class="colorchange">HOTEL ROYAL PALACE</span>.<br>
LUXURY REDEFINED. </b> </h1>
            <a href="/index1" class="btn btn-nav"> <b> <font color = "skyblue"> room styles </font>
</b> </a>
            <a href="/explore" class="btn btn-nav"> <b> <font color = "skyblue"> Facilities </font> </b>
            </a>
            <a href="/index" class="btn btn-full"><b>Book now</b></a>
        </div>
        <br><br><br><br><br><br>
        <div class="nownew">
            <marquee direction="left" style="padding:0px; background:black; height:40px; margin:0px;">
                <font size="4" align="center" color="white">
                    <span class="text"> IN THE VIEW OF THE CURRENT ONGOING PANDEMIC, WE RESPECT YOU WELL BEING ABOVE ALL. WE HAVE IMPLEMENTED SPECIAL PRECAUTIONARIES TO SECURE YOUR SAFTEY THROUGHOUT YOUR STAY WITH US. USE CODE: ROYAL|PALACE FOR 10% DISCOUNT FOR YOUR FIRST TIME STAY WITH US. LUXURY REDEFINED! </span>                    </font>
            </marquee>
        </div>
    </header>
</body>

</html>